<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/wen/Documents/asicamera/x2TheSkyX/cameraplugins/x2camera/x2camera.xcodeproj</string>
</dict>
</plist>
